PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/your_database_name
JWT_SECRET=your_jwt_secret
ADMIN_INVITE_CODE=your_admin_invite_code
FRONTEND_URL=http://localhost:5173
SEED_ADMIN_NAME=your_admin_name
SEED_ADMIN_EMAIL=your_email@example.com
SEED_ADMIN_PASSWORD=your_admin_password